@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    font-family: 'Poppins', sans-serif;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}
header > h1 {
    font-size: 1rem;
    font-weight: bold;
    color:#d9d9d92a;
}
header > nav {
    background-color: #0a11339f;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #0520b7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width:50%;
    width: 30%;
    backdrop-filter: blur(5px);
}
header > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header > nav > ul > li {
    font-size: 0.8rem;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
}
header > button {
    background-color: #19B304;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: 0px 0px 20px 3px #18b304b4;
}
main{
    background-color: #000312;
    display: flex;
    flex-direction: column;
    text-align: center;
} 
main > section#home {
    background: #000312  url(./assets/img-home.png) no-repeat center center/cover;
    height: 80vh;
    display: flex;
    padding: 5%; 
    justify-content: left;
    align-items: center;
}
main > section#home > div#home-info {
    background-color: #d9d9d92a;
    width: 600px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 30px;
    border-radius: 80px;
    backdrop-filter: blur(5px);
    text-align: left;
}
main > section#home > div#home-info > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    padding:2px 2px 2px 15px;
}
main > section#home > div#home-info > h2 {
    font-family: 'Aboreto', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #fffffff2;
    padding: 0px 2px 2px 25px;
}
main > section#home > div#home-info > p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #ffffffb0;
    padding:15px 15px 15px 10px;
}
main > section#home > div#home-info > ul {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px 15px 15px 10px;
    margin-top: 10px;
    margin-left: 15px;
}
main > section#home > div#home-info > ul > li {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    background-color: #010934;
    border: 1px solid #0c1c77;
    border-radius: 30px;
}
main > section#home > div#home-info > ul > li#destaque-servicos {
    background-color: transparent;
    border: 1px solid #ffffff;
    
}
main > section#home > div#home-info > ul > li#destaque-agendamento {
    background-color: #010934;
    border: 1px solid #0c1c77;
    box-shadow: inset 0px 0px 10px 2px #0c1c77;
}
main > section#servicos {
    background-color: #000312;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}
main > section#servicos > div#servicos-info {
    background-image: radial-gradient(ellipse at 50% 0%, rgba(13, 51, 255, 0.22) 25%, transparent 70%);
    width: 100%;
    height: 300px;
    padding: 50px;
}
main > section#servicos > div#servicos-info > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    padding: 2px;
}
main > section#servicos > div#servicos-info > h1 > span {
    background-color: #0D33FF;
    padding: 5px;
    border-radius: 20px;
}
main > section#servicos > div#servicos-info > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff74;
    padding: 5px;
}
main > section#servicos > div#ofertas-servicos {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: top;
    justify-content: center;
    background-image: radial-gradient(circle at 0% 100%, rgba(13, 51, 255, 0.22) 20%, transparent 39%);
   
}
main > section#servicos > div#ofertas-servicos > div.item-servico {
    background-color: #0D33FF;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 5px 15px 15px 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    
}
main > section#servicos > div#ofertas-servicos > div.item-servico > span > img {
    width: 100%;
    height: 100%;
}
main > section#servicos > div#ofertas-servicos > div.item-servico > span {
    width: 40px;
    height: 40px;
    margin: 5px;
}
main > section#servicos > div#ofertas-servicos > div.item-servico > h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #FFFFFF;
    padding: 2px;
}
main > section#servicos > div#ofertas-servicos > div.item-servico > p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    color: #ffffffb0;
    padding: 2px;
    margin: 5px 0px 15px 0px;
}
main > section#servicos > div#ofertas-servicos > div.item-servico > a {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    font-weight: 500;
    color: #01e6ff;
    padding: 5px 3px;
    cursor: pointer;
    width: 100%;
}
main > section#servicos > div#entregas-info {
    background-image: radial-gradient(circle at 0% 0%, rgba(13, 51, 255, 0.22) 20%, transparent 37%);
    width: 100%;
    height: 500px;
    padding: 50px;
}
main > section#servicos > div#entregas-info > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    padding: 2px;
    text-shadow: px 3px 10px #0000006e;
}
main > section#servicos > div#entregas-info > h1 > span {
    color: #0D33FF;
}
main > section#servicos > div#entregas-box {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: top;
    justify-content: center;
}
main > section#servicos > div#entregas-box > div#entrega-1, main > section#servicos > div#entregas-box > div#entrega-3 {
    margin-top: 50px;
}
main > section#servicos > div#entregas-box > div.entregas-item {
    background-color: #0d31ff52;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 5px 15px 15px 15px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
